.hero {
  background: url("../img/background-coffe.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  width: 100%;
}
.ff {
  // background: url("../img/coba.png");
  background-position: center;
  background-size: cover;
  // height: 300px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: -10px;
}
